<h1>Current Polls</h1>
{% if user.is_authenticated %}
    Welcome back, {{ user.username }}
    {% if user.username != '' %}
        {{ user.first_name }}
    {% else %}
        {{ user.username.title }}
    {% endif %}
{% else %}
    {# Hint: use {% url 'login' %} #}
    Please <a href="{% url 'login' %}">login</a> to vote for a topic.
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a id="question{{question.id}}" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'logout' %}">Logout</a>
